* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.home-azul {
    background-image: linear-gradient(to right, lightpink, hotpink);
}

.header {
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

a {
    text-decoration: none;
}

.header a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3rem;
    color: white;
    text-shadow: -2px 2px 8px deepskyblue, 2px -2px 8px deeppink;
}

.fonterosa {
    color: hotpink;
    font-weight: bold;
    text-shadow: 2px 2px 5px dodgerblue;
}

.fonteazul {
    color: cornflowerblue;
    font-weight: bold;
    text-shadow: 2px 2px 5px hotpink;
}

.main {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 40px auto 0;
    padding: 30px;
    border-radius: 10px;
}

.main h1 {
    font-size: 1.8rem;
    text-align: center;
    color: pink;
    text-shadow: 2px 2px 2px hotpink;
    padding-bottom: 10px;
    border-bottom: 2px solid pink;
}

.quiz {
    padding: 10px 0;
}

.quiz h2 {
    font-size: 1.3rem;
}

.btn {
    background-color: pink;
    width: 100%;
    box-shadow: 2px 2px 3px hotpink;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover:not([disabled]) {
    background-color: lightpink;
    box-shadow: 2px 2px 5px deeppink;
}

.btn:disabled {
    cursor: no-drop;
}

#proxima {
    background-color: hotpink;
    color: white;
    font-size: 1rem;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto 0;
    cursor: pointer;
    display: none;
}

.certo {
    background-color: palegreen;
}

.errado {
    background-color: lightcoral;
}

.feedback {
    background-color: #fff0ff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    border-left: 5px solid hotpink;
    display: block;
    font-size: 1rem;
}

#voltarMenu {
    background-color: dodgerblue;
    color: white;
    font-size: 1rem;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto 0;
    cursor: pointer;
    display: none;
}